#page-header-logo {
 background:url(../img/logo32x32.png) 0 0;
 display:inline-block;
 height:32px;
 width:32px;
 vertical-align:bottom
}

.date-field {
    width: 10em;
}

.date-time-field {
    width: 12em;
}

#page {
    max-width: unset;
}